* {
    color:rgb(0, 0, 0);
    background-color: eggshell;
}


body {
    text-align: center;
    margin: 0 auto;
}

img {
    width: 500px;
    height:auto;
}

ul {
    text-decoration: none;
    display: inline-block;
}

ol {
    display: inline-block;
}